.wrap {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    font-family: '강원에듀', 'GangwonEdu_OTFBoldA';
}


main {
    margin-right: 180px;
    
}

.detail {
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 100%;
    margin-left: 30vh;
}

.question_post {
    height: 40vh;
}

.user_info {
    color: gray;
    font-size: 14px;
}

.answer_comment {
    display: flex;
    flex-direction: column;
}

.title_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title_box_child {
    display: flex;
    flex-direction: column;
}

.btn-danger {
    height: 100%
}

.btn {
    border-radius: 4px !important;
}

.recommend_question {
    display: flex;
    margin-left: 20px;
    width: 15vw;
}

.form-control {
    resize: none;
}
