* {
    font-family: 'Jua', sans-serif;
}

nav {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    /* position: fixed !important; */
}


.nav {
    /* background-color:darksalmon; */
    width: 300px;
    max-width: 30%;
    margin-right: 50px;
    top: 120px;
    margin-left: 250px;
    position: fixed;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.cards {
    margin-left: 440px;
    /* top: 150px; */
    /* padding: 100px; */
    /* padding: 0 0 30px 0; */
}

.search_bar {
    width: 700px;
    max-width: 45%;
}

.main_icon {
    width: 200px;
    max-width: 15%;
}

.card-title {
    font-weight: bold;
}

.collapse {
    justify-content: center;
}

.d-flex {
    width: 700px;
}

.btn-info {
    margin-right: 20px;
}

