.wrap {
    display: flex;
    flex-direction: row;
    /* margin-top: 60px; */
    font-family: '강원에듀', 'GangwonEdu_OTFBoldA';
}


main {
    margin-right: 180px;
    
}

.detail {
    display: flex;
    flex-direction: column;
    width: 90vh;
    height: 100%;
    margin-left: 33vh;
}

.question_post {
    height: 40vh;
    word-break:break-all;
    word-wrap:break-word;
}

.user_info {
    color: gray;
    font-size: 14px;
}

.title_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}

.title_box_child {
    display: flex;
    flex-direction: column;
}

.btn-danger, .btn-primary {
    height: 100%
}

.btn {
    border-radius: 4px !important;
}

.recommend_question {
    display: flex;
    margin-top: 90px;
    margin-left: 20px;
    width: 15vw;
}

.form-control {
    resize: none;
}

.answer_list{
    display: flex;
    flex-direction: column;
}

.answer_comment {
    width: 85%;
    display: flex;
    flex-direction: column;
}
.answer_edit{
    width: 2vw;
}
.answer_profile_image{
    padding-right: 15px;
    padding-bottom: 25px;
}


.answer_user {
    font-weight: bold !important;
}

.answer_box {
    display: flex;
}

.answer_edit{
    height: 100px;
    display: flex;
    flex-direction: column;
}

.answer-btn {
    height: 20%;
    margin: 5px !important;
    font-size: 13px;
    align-items: center;
    padding: 0 !important;
}

.input-group button {
    z-index: 0 !important;
}
.answer_text{
    word-break:break-all;
    word-wrap:break-word;
}
.answer_box{
    margin-top: 15px;
}
.answer_edit_input {
    width: 100%;
    resize: none;
}
#user_name{
    font-size: 20px;
}
#Question_like {
    font-size: 20px;
}
.answer_like {
    margin-top: 30px;
}
#Answer_like {
    font-size: 20px;
}
.title_box_child {
    width: 85%;
}
.question_title {
    word-break:break-all;
    word-wrap:break-word;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.comment_box {
    display: flex;
    flex-direction: row;
}