@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

main {
    /* display: flex;
    flex-direction: row; */
    height : 100vh;
}

.mainname{
    font-family: 'HS-Regular';
}

.small_main {
    background-color: red;
    width : 35vw;
    /* flex-direction: column; */

    display: flex;
    flex-direction: column;
    position : fixed;
}

.big_main {
    /* background-color: rgb(255, 255, 255); */
    width : 65vw;
    margin-left: 35vw;
    height: 100%;
}

.main_post {
    padding: 80px 20px 20px 20px;
    font-family: 'GangwonEdu_OTFBoldA';
}


header {
    background-color: transparent;
    width: 96vw;
    height: 30px;
    position: fixed;

    top: 30px;
    left: 2vw;
    z-index: 1;
}


.big_square {
    background-color: #84BF8B;
    height: 50vh;
    border: 1px solid black
}

.middle_square {
    background-color: #9185A7;
    height: 40vh;
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    border: 1px solid black
}

.side_comment {
    height: 15vh;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid black;

    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0 0 15px;

    font-size: 22px;
    font-family: 'GangwonEdu_OTFBoldA';
    /* font-weight: bold; */
}

.small_square {
    background-color: #84BF8B;
    height: 10vh;

    display: flex;
    flex-direction: row;
}

.small_square button {
    border: black solid 1px;
    width: 33vw;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 250px;
    height: 50px;
}

.input_flex {
    display : flex;
    flex-direction: column;
    width: 50%;
}

.btn-outline-dark {
    height: 100px;
}

.signin_box {
    display : flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.signin_logintext{
    font-family: 'HS-Regular';
    font-size: 25px;
    color: white;
    font-weight: bold;
    /* text-shadow: 1px 1px 1px gray; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    display: flex;
    flex-direction: column;
}

.signin_logintext h3 {
    font-size: 40px;
}

.top {
    display : flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.loginbutton {
    background: rgb(252, 231, 51);
    border-radius: 8px;
    width: 150px;
    height: 50px;
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px
    , rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    font-size: 20px;
    color: white;
    font-family: 'HS-Regular';
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
}

.signupbutton{
    background: rgb(253, 98, 190);
    border-radius: 8px;
    width: 150px;
    height: 50px;
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px
    , rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    font-size: 20px;
    color: white;
    font-family: 'HS-Regular';
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
}

.top span {
    font-size: 45px;
    color: white;
    font-weight: bold;
    /* text-shadow: 1px 1px 1px gray; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.big_square img{
    padding: 130px 0 0 85px;
}

.btn-outline-success {
    border-radius: 1px;
}

.index_image {
    max-width: 100%;
    height: 100%;
    display: block;
}
