.container {
    display: flex;
    flex-direction: column;
}

.side {
    height: 60vh;
    width: 100vw;
    background: rgb(253, 99, 191);
    display: flex;
    flex-direction: column;
}

input {
    font-size: 15px;
    width: 185px;
    height: 35px;
    border: 0;
    border-bottom: 1.5px solid black;
    margin: 5px 5px;
}

body {
    margin: 0;
}

.login {
    width: 93vw;
    border-left: 0px;
    height: 27vh;
}
