@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HSYuji-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


ul li {
    font-family: '산토끼', 'HS-Regular';
}

nav {
    font-family: '산토끼', 'HS-Regular';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
}

main {
    font-family: '강원에듀', 'GangwonEdu_OTFBoldA'
}

.navbar {
    background-color: #84BF8B !important;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 60px;
}

.nav {
    width: 150px;
    max-width: 30%;
    margin-right: 50px;
    top: 70px;
    margin-left: 200px;
    position: fixed;
}

.nav-item:hover {
    transform: scale(1.05);
}

main {
    display: flex;
    flex-direction: row;
}

.cards {
    margin-left: 440px;
    margin-top: 40px;
}
.main_icon {
    width: 200px;
    max-width: 15%;
}

.card-title {
    font-weight: bold;
}

.collapse {
    justify-content: center;
}

.d-flex {
    width: 60%;
}

.btn-info {
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px
    , rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.row {
    width: 1100px;
}

.navbar-brand {
    margin-left: 200px;
    font-size: 30px;
}
.navbar-brand:hover {
    transform: scale(1.05);
}

.btn-warning {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px
    , rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}
.card-body {
    height: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-text {
    height: 70px;
}
.h-100 {
    position: relative;
    width: 260px !important;
    height: 470px !important;
}
.card-title {
    height: 40%;
}
.card-image {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 257px;
    object-fit: fill;
}
.card-image:hover {
    transform: scale(1.05);
    cursor: pointer;
}
* a {
    text-decoration: none;
    text-decoration-color: blue;
}
.card-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.button_box {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    float: right;
    margin-right: 200px;
}
.count-list {
    position: absolute;
    bottom: 2px;
}
.nav-item {
    width: 200px;
    text-align: center;
}
.font_title {
    color: #198754;
    height: 20px !important;
}
.nav-link {
    color: #198754;
}
.nav-link:hover {
    color: #198754;
}

#username {
    background-color: rgb(253, 99, 191);
    border: rgb(253, 99, 191);
}

.btn-danger {
    background-color: #775aae;
    border: #775aae;
}

.btn-danger:hover {
    background-color: #775aae;
    border: #775aae;
}
.font_title:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #198754;
}