@font-face {
    font-family: 'IBMPlex-Bold';
    src: url('../font/IBMPlexMono-Bold.otf');
}

@font-face {
    font-family: 'IBMPlex-Regular';
    src: url('../font/IBMPlexMono-Regular.otf');
}

@font-face {
    font-family: 'IBMPlex-Thin';
    src: url('../font/IBMPlexMono-Thin.otf');
}

body {
    font-family: 'IBMPlex-Bold';
    height: 100vh;
    border: 1px solid black;
}
.container {
    display: flex;
    flex-direction: row;
}
.side {
    height: 100vh;
    width: 35vw;
    background: rgb(231, 196, 42);
    display: flex;
    flex-direction: column;
}
.title {
    width: 35vw;
    height: 20vh;
    background: rgb(231, 196, 42);
    cursor: pointer;
    font-size: 50px;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 0.6px black;
}
.title_img {
    width: 35vw;
    height: 80vh;
    background: rgb(231, 196, 42);
    font-size: 50px;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 0.6px black;
    margin: 150px 0px 0px 0px;
}
.signup {
    height: 100vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
}
input {
    font-size: 15px;
    width: 500px;
    height: 35px;
    border: 0; 
    border-bottom: 1.5px solid black;
    margin: 5px 5px;
}
button {
    background: #775aae;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px
    , rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    /* -webkit-text-stroke: 0.5px black; */
}
a {
    text-decoration: none;
}

input::placeholder {
    color: black;
}
input:focus-visible {
    outline: 0px;
}

.error-alert {
    width: 500px;
    height: 70px;
    /* background-color: rgba(231, 196, 42, 0.5); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgba(231, 196, 42, 0.6); */
    color: red;
    border-radius: 5px;
    font-size: 18px;

}
