main {
    /* display: flex;
    flex-direction: row; */
    height : 100vh;
}

.small_main {
    background-color: red;
    width : 35vw;
    /* flex-direction: column; */

    display: flex;
    flex-direction: column;
    position : fixed;
}

.big_main {
    background-color: blue;
    width : 65vw;
    margin-left: 35vw;
    height: 100vh;
}

header {
    background-color: #84BF8B;
    width: 94vw;
    height: 80px;
    position: fixed;

    top: 30px;
    left: 3vw;
    z-index: 1;
}


.big_square {
    background-color: #9185A7;
    height: 50vh;
}

.middle_square {
    background-color: #84BF8B;
    height: 40vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small_square {
    background-color: purple;
    height: 10vh;

    display: flex;
    flex-direction: row;
}

.small_square div {
    border: black solid 1px;
    width: 33vw;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

.input_flex {
    display : flex;
    flex-direction: column;
}

.signin_box {
    display : flex;
}

.top {
    display : flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}